@charset "utf-8";

@include keyframes(bg) {
    from {
       background-size:100%;
    }

    to {
        background-size:125%;
    }
}

@include keyframes(down) {
    from {
       transform: translateY(50%);
    }

    to {
         transform: translateY(-50%);
    }
}

